body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fbf9f5;
    }
    .navbar {
        z-index: 1000;
    }

.navbar-brand {
        font-family: 'Vazirmatn';
        font-size: 24px;
        font-weight: bold;
        }
.navbar-nav .nav-item .nav-link:hover {
    color: #ff6b5a;
}
.form .btn {
    background-color: #ff6b5a;
    width: 130px;
    color: white;
    border-radius: 30px;
}

.form .search {
    border-radius: 50px;
    padding: 3px 6px;
    box-shadow: 0px 0px 1px 3px rgb(248, 245, 245);
    outline: none;
    border: none;
    height: 35px;
}

.form .search:focus {
    border: 2px #1f6be1 solid;
}

/* section2 */
/* .section2 {
    margin-top: 50px;
}
.section2 .section2COl1 {
    margin-left: 30px;
}

.section2 .section2COl1 h2 {
    font-size: 50px;
    font-weight: 500;
}
.section2 .section2COl1 p {
    width: 400px;
    font-size: 15px;
}

.section2 .section2COl1 button {
    background-color: #1f6be1;
    padding: 10px;
    width: 140px;
    border: none;
    border-radius: 30px;
    color: white;
}

.section2row2 img {
    height: 400px;
    border-radius: 30px;
}

.section2row2 #img1 {
    max-height: 300px;
}
*/ .section1 {
    background-image: url('../images/j.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: white;

}

/* .section1 .overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.3);
 z-index: 1;
 /* فیلتر سیاه */

}

*/

.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-image .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* فیلتر دلخواه */
    border-radius: 15px;
    /* اگر میخوای گوشه گرد باشد مثل عکس */
}
.section1 .container-fluid,
.section1 .header {
    position: relative;
    z-index: 2;
}

.header .row .col {
    position: relative;
    left: 100px;
    top: 100px;

}

.header .row .col h1 {
    font-family: 'Calisto MT';
    font-size: 70px;
}

.header .row .col p {
    width: 350px;
}

.header .firstCol {
    margin-left: 220px;
    filter: brightness(110%);
}

.section1 h1 {
    text-align: center;
    font-size: 120px;
    font-family: "Eric ITC";
    padding: 70px 0px;
    font-weight: bold;
}

.section2 {
    font-family: 'Goudy Old style';
    color: brown;
    height: 400px;
}

.section2 h1 {
    font-size: 40px;
    font-family: 'Goudy Old style';
    color: brown;
}

.grid {
    display: flex;
}